
.margin-left20{

    margin-left: -20px
}

.margin-left30{

    margin-left: -30px
}
.margin-left40{
    margin-left: -40px
}

.margin-left50{

    margin-left: -50px
}
.margin-left60{

    margin-left: -60px
}
.margin-left70{

    margin-left: -70px
}



