<div class="preloader" *ngIf="loadPage == true">
  <div class="col-sm-2">
    <div id="square5">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <p>{{retryMessage}}</p>
</div>

<div style="text-align: center; font-size: larger; background-color: white !important" class="card-title-text"> <b> CURRENCY </b>
</div>
<br>

<div class="displayOnLapTop">
  <div class="col-sm-1">
    <button style="margin: 0 0 0 10px;" (click)="action('Add','')" mat-raised-button color="accent"
      class="mat-elevation-z12 box-button" type="submit">Add New</button>
    <mat-spinner *ngIf="statusTrack == 'Decline'" strokeWidth="1" [diameter]="30" color="primary"></mat-spinner>

  </div>
  <br>
  <table style="background-color: white" class="table table-bordered table-sm table-hover tableStyle">
    <thead>
      <tr>
        <th style="width: 20px">S/NO</th>
        <th style="width: 80px">ACTION</th>
        <th style="width: 90px">CURRENCY CODE</th>
        <th style="width: 90px">LOCAL CURRENCY</th>
        <th style="width: 90px">DESCRIPTION</th>
        <th style="width: 20px">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <!--Search Here-->
      <tr>
        <td></td>
        <td></td>
        <td> 
          <input style="width: 100%" (keyup)="updateFilter($event, 1)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <!-- <input style="width: 100%" (keyup)="updateFilter($event, 2)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" /> -->
        </td>
        <td> 
          <input style="width: 100%" (keyup)="updateFilter($event, 3)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <!-- <input style="width: 100%" (keyup)="updateFilter($event, 4)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" /> -->
        </td>

      </tr>

      <tr *ngFor="let row of rows; let h = index;">
        <td> {{ h + 1 }}</td>
        <td style="text-align: center;">
          <span *ngIf="row.status" matTooltip="View  {{ row?.loginId }} Details" class="viewSpan"
            (click)="action('View', row)">View</span>
          <span *ngIf="row.status" matTooltip="Edit  {{ row?.loginId }} Details" (click)="action('Edit', row)"
            class="editSpan">Edit</span>
        </td>
        <td> 
          <span *ngIf="row?.isLocalCurrency" 
                   style="color: red;">{{ row?.isoCode }}</span>
          <span *ngIf="!row?.isLocalCurrency">{{ row?.isoCode }}</span>
        </td>
        <td>  
          <span *ngIf="row?.isLocalCurrency" style="color: red;">Yes</span>
          <span *ngIf="!row?.isLocalCurrency">No</span>
        </td>
        <td>
          <span *ngIf="row?.isLocalCurrency" style="color: red;">{{ row?.description }}</span>
          <span *ngIf="!row?.isLocalCurrency">{{ row?.description }}</span></td>
        <td>
          <mat-chip mat-sm-chip class="activestatus" [selected]="row.status" *ngIf="row.status == 'Active'">
            {{ row.status }}
          </mat-chip>

          <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row.status !== 'Active'">
            {{ row.status }}
          </mat-chip>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-2">

      <div class="btn-group">
        <button mat-raised-button color="primary" style="margin-left: 0%" (click)="prevPage()"
          class="mat-elevation-z12 box-button" type="submit">
          <mat-icon id="btn_prev">keyboard_arrow_left</mat-icon>Prev.
        </button>
        <button style="margin: 0 0 0 10px;" mat-raised-button color="accent" class="mat-elevation-z12 box-button"
          (click)="nextPage()" type="submit">Next<mat-icon id="btn_next">keyboard_arrow_right</mat-icon></button>
      </div>

    </div>
    <!-- <div class="col-sm-2">
      <span style="font-size: 15px; text-align: center !important; 
         font-weight: 900; ">
        Page: </span>
      <span style="font-size: 15px; text-align: center !important; font-weight: 900;" id="page"></span>
    </div> -->

  </div>
</div>