<div class="preloader" *ngIf="loadPage == true">
  <div class="col-sm-2">
    <div id="square5">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <p>{{retryMessage}}</p>
</div>



<div class="form-group row">
  <label for="input-11" class="col-sm-1 col-form-label ">From Date</label>
  <div class="col-sm-1">
    <input class="form-control" style="width: 100px" [(ngModel)]="fromDate" type="text" />
  </div>
  <div class="col-sm-1">
    <input id="effectiveDate" style="border: none !important;" class="form-control cursorPointer" type="date" value=""
      (change)="fromDateTxn($event)" />
  </div>
  <label for="input-11" class="col-sm-1 col-form-label ">To Date</label>
  <div class="col-sm-1">
    <input class="form-control" style="width: 100px" [(ngModel)]="toDate" type="text" />
  </div>
  <div class="col-sm-1">
    <input id="effectiveDate" style="border: none !important;" class="form-control cursorPointer" type="date" value=""
      (change)="toDateTxn($event)" />
  </div>
  <label for="input-11" class="col-sm-1 col-form-label " >Amount</label>
  <div class="col-sm-2">
    <input class="form-control" style="text-align: right;" (keypress)="keyPress($event)" [(ngModel)]="amount" type="text" />
  </div>
    <label for="input-11" class="col-sm-2 col-form-label ">Item Per Page</label>
    <div class="col-sm-1">
      <select class='form-control' [(ngModel)]="pageLmit" (change)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let option of ItemsPerPage' [value]="option.itemPerPage">{{option.itemPerPage}}
        </option>
      </select>
    </div>
</div>
<div class="form-group row">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div class="btn-group">
      <button id="btnProcess" *ngIf="tab1 == 'active'" 
      style="margin: 0 0 0 0px;" (click)="reverseTrans()" mat-raised-button
        color="accent" class="mat-elevation-z12 box-button" type="submit">
        Reverse Trans
      </button>
      <div class="btn-group">
        <button id="btnProcess" *ngIf="tab1 == 'active'" style="margin: 0 0 0 10px;" (click)="retrieve()" mat-raised-button
          color="primary" class="mat-elevation-z12 box-button" type="submit">
          Retrieve
        </button>
      </div>
    </div>
  </div>
</div>

<!--
================================ Alert ==================
-->

<app-post-alert [alertPostTrans] = alertPostTrans [viewTransDetails] = viewTransDetails [postTransResponse] = postTransResponse [postTransResponseList] =postTransResponseList></app-post-alert>
<!--
================================ Alert ==================
-->

<ul style="margin-top: 10px" class="nav nav-tabs nav-tabs-danger nav-justified top-icon">
  <li [class]="selectedCalss">
    <a class="nav-link {{tab1}}" data-toggle="tab" (click)="swapTab(1)"><i class="icon-home">

      </i> <span class="hidden-xs">
        <b>REVERSE TRANSACTION LIST <span style="font-size: 15px; font-weight: 800; margin-left: 50px">
           </span></b>
      </span></a>
  </li>


</ul>
<!--Tabb 1-->
<div class="displayOnLapTop" *ngIf="tabVlues === 1 || tabVlues === 2">
  <table style="background-color: white; overflow-y: scroll;; width: 2500px"
    class="table table-bordered table-sm table-hover tableStyle">
    <thead>
      <tr>
        <th>S/NO</th>
        <th style="width: 80px">ACTION</th>
        <th style="width: 20px">SEL.</th>
        <th style="width: 90px">TRANS DATE</th>
        <th style="width: 150px">TRANS TRACER</th>
        <th style="width: 200px">SERVICE TYPE</th>
        <th style="width: 120px">DR ACCT NO</th>
        <th style="width: 100px">DR ACCT TYPE</th>
        <th style="width: 250px">DR ACCT NAME</th>
        <th style="width: 90px">DR TC</th>
        <th style="width: 150px">AMOUNT</th>
        <th style="width: 150px">CHARGE AMOUNT</th>
        <th style="width: 90px">CCY</th>
        <th style="width: 150px">CR ACCT NO</th>
        <th style="width: 90px">CR ACCT TYPE</th>
        <th style="width: 250px">CR ACCT NAME</th>
        <th style="width: 90px">STATUS</th>
        <th style="width: 200px">DEPT</th>
        <th style="width: 300px">ORIG BRANCH</th>
      </tr>
    </thead>
    <tbody>
      <!--Search Here-->
      <tr>
        <td>

        </td>
        <td>
          <!-- <input style="width: 100%" (keyup)="updateFilter1($event, 0)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" /> -->
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="selectedAllTrans" class="example-margin" (change)="selectAll()">
          </mat-checkbox>
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 1)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 2)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 3)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>

        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 4)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 5)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 6)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 7)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter1($event, 8)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 9)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 10)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 11)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 12)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 13)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 14)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 15)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> <input style="width: 100%" (keyup)="updateFilter1($event, 16)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>

      </tr>
      <!--Search End Here-->
      <tr *ngFor="let row of rows; let h = index;">
        <td>
          {{ h + 1}}
        </td>
        <td style="text-align: center;">
          <span matTooltip="View  {{ row?.drAcctNo }} Details" class="viewSpan" (click)="action('View', row)">
            View
          </span>
          <!-- <span *ngIf="row.serviceStatus" matTooltip="Edit  {{ row?.acctNo }} Details" 
            (click)= "action('Edit', row)" class = "editSpan">Edit</span> -->
        </td>
        <td>
          <mat-checkbox color="primary" [(ngModel)]="row.select" (change)="checkUnChecked(row)" class="example-margin">
          </mat-checkbox>
        </td>
        <td> {{ row?.transactionDate | date: 'd-MMM-y' }}</td>
        <td> {{ row?.transTracer }}</td>
        <td> {{ row?.serviceName }}</td>
        <td> {{ row?.drAcctNo }}</td>
        <td style="text-align: center"> {{ row?.drAcctType }}</td>
        <td> {{ row?.drAcctName }} </td>
        <td> {{ row?.drAcctTC }} </td>
        <td style="text-align: right"> {{ row?.amount | number : '.2' }} </td>
        <td style="text-align: right"> {{ row?.drAcctChargeAmt | number : '.2' }} </td>
        <td style="text-align: center"> {{ row?.ccyCode }} </td>
        <td> {{ row?.crAcctNo }} </td>
        <td style="text-align: center"> {{ row?.crAcctType }} </td>
        <td> {{ row?.crAcctName }} </td>
        <td>

          <mat-chip mat-sm-chip class="activestatus" [selected]="row.status" *ngIf="row?.status == 'Posted'">
            {{ row?.status }}
          </mat-chip>

          <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row?.status !== 'Posted'">
            {{ row?.status }}
          </mat-chip>
        </td>
        <td> {{ row?.deptName }} </td>
        <td> {{ row?.originatingBranchName }} </td>
      </tr>

    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-4">

    </div>

    <div class="col-sm-2">

      <div class="btn-group">
        <button mat-raised-button color="primary" style="margin-left: 0%" (click)="prevPage()"
          class="mat-elevation-z12 box-button" type="submit">
          <mat-icon id="btn_prev">keyboard_arrow_left</mat-icon>Prev.
        </button>
        <button style="margin: 0 0 0 10px;" mat-raised-button color="accent" class="mat-elevation-z12 box-button"
          (click)="nextPage()" type="submit">Next<mat-icon id="btn_next">keyboard_arrow_right</mat-icon></button>
      </div>

    </div>
    <div class="col-sm-2">
      <span style="font-size: 15px; text-align: center !important; 
           font-weight: 900; ">
        Page: </span>
      <span style="font-size: 15px; text-align: center !important; font-weight: 900;" id="page"></span>

    </div>

  </div>

</div>











<!--Tabb 2-->


<!--Tabb 3-->