 
  <div class="preloader" *ngIf="loadPage == true">
    <div class="col-sm-2">
       <div id="square5">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
       </div> 
   </div> 
  </div>
  
  <div style="border: none solid black;">
  
      <div class="card-title-text"> <b>  USER LIMIT FOR {{ data.record.fullName | uppercase }}</b><label class="allFieldRequired"> <label class="allFieldRequiredtxt">{{requiredFieldMsg}}</label></label></div>
      <hr>
  
      <div  class="form-group row">
     
        <label  class="col-sm-1 col-form-label" for="input-11">Cust. Dr Limit</label>
        <div  class="col-sm-2">
          <input  autocomplete="off"
          class="form-control ng-touched ng-pristine ng-valid"
          style="text-align: right;" 
          [(ngModel)]="rowDetails.debitLimit"
          (keypress)="keyPress($event)" 
           (change)="convert1($event)" 
           type="text">
  
        </div>
        <label  class="col-sm-1 col-form-label" for="input-11">Cust. Cr Limit</label>
        <div  class="col-sm-2">
              <input  autocomplete="off" 
              class="form-control ng-pristine ng-valid ng-touched"
              style="text-align: right;"
              [(ngModel)]="rowDetails.creditLimit" 
               (keypress)="keyPress($event)"
               (change)="convert($event)"
               type="text">
        </div>
        <label  class="col-sm-1 col-form-label" for="input-11">GL Dr Limit</label>
        <div  class="col-sm-2">
            <input  autocomplete="off" 
              class="form-control ng-pristine ng-valid ng-touched"
              style="text-align: right;" 
              [(ngModel)]="rowDetails.gLDebitLimit" 
              (keypress)="keyPress($event)" 
              (change)="convert2($event)"
              type="text">
        </div>
        <label  class="col-sm-1 col-form-label" for="input-11">GL Cr Limit</label>
        <div  class="col-sm-2">
            <input  autocomplete="off"
                class="form-control ng-touched ng-pristine ng-valid" 
                [(ngModel)]="rowDetails.gLCreditLimit" 
                style="text-align: right;"
                (keypress)="keyPress($event)" 
                (change)="convert3($event)"
                type="text">
        </div>
      </div>
      <div  class="form-group row">
     
        <label  class="col-sm-1 col-form-label" for="input-11">Currency</label>
        <div  class="col-sm-2">
          <select class="form-control"  
          [(ngModel)]="rowDetails.currencyIso"
          (change)='onOptionsSelected($event)'>
            <option>Select Currency</option>
            <option *ngFor="let a of currencies" [value]="a.isoCode">
                {{ a.isoCode }}</option>
        </select>
        </div>
  
      </div>
  
   <div *ngIf ="data.actionName !== 'Add'">
  
      <div class="form-group">
          <div class="col-sm-12 infoAcctdetails" style="background-color:#444;color:#fff; text-align:center;">
              <label class="control-label lbl" style="color:#fff;" for="tagsinput-2">AUDIT TRAIL</label>
          </div>
       </div>
       <br>
       <div class = "form-group row">
           
          <label for="input-11" class="col-sm-1 col-form-label">Created By</label>
          <div class = "col-sm-2">
              <input [(ngModel)] = "rowDetails.createdBy" 
              autocomplete="off" class="form-control" type="text"  
              readonly />
          
          </div>
          <label for="input-11" class="col-sm-1 col-form-label">Date Created</label>
          <div class = "col-sm-2">
              <input autocomplete="off" readonly
              class="form-control" type="text" placeholder="" 
              [(ngModel)] = "rowDetails.dateCreated" />
          </div>
           <label for="input-11" class="col-sm-1 col-form-label">Status</label>
           <div class = "col-sm-2">
            <select class="form-control"  [(ngModel)]="rowDetails.status">
                <option>Select Status</option>
                <option *ngFor="let a of statuses" [value]="a.status">
                    {{ a.status }}</option>
            </select>
            
           </div>
      
       </div>
   </div>
   <hr>
  
   <br>
  <div class = "form-group row"> 
   <div class = "btn-group" style="margin: 0  50% 0 40%">


       <button id="btnSave"   *ngIf="userRoleAssign.canEdit == true 
       &&  actionName == 'Edit'" 
       mat-raised-button color="accent" (click)="add()"
       >
       <img *ngIf = "actionLoaderSave === true" src="assets/img/loader/loader.gif"/>
       Update 
       </button>
  
       <button id="btnSave"   *ngIf="userRoleAssign.canAdd == true && actionName == 'Limit'" 
           mat-raised-button color="accent" (click)="add()">
           <img *ngIf = "actionLoaderSave === true" src="assets/img/loader/loader.gif"/>
           Save 
       </button>

       <button type="button" style="margin: 0 10px 0 10px;" 
       mat-raised-button color="primary" 
       (click)="close()">Return</button>

       <button type="button" *ngIf="userRoleAssign.canEdit == true 
       &&  actionName == 'Edit'"  style="margin: 0 0 0 10px;" 
       mat-raised-button color="accent" 
       (click)="auditList()">Audit Trail</button>
              
       <mat-spinner *ngIf ="displayloader == true" 
       strokeWidth="1" [diameter]="30" color="primary"></mat-spinner> 
       </div>
   </div>
  
  </div>
  <br>
  <table  style="background-color: white; width: 1000px; margin: 0 15% 0 3%" 
          class="table table-bordered table-sm table-hover tableStyle">
    <thead>
      <tr>
        <th  style="width: 20px">SNO</th>
        <th  style="width: 100px">ACTION</th>
        <th  style="width: 100px">CURRENCY</th>
        <th  style="width: 100px">CUST. DR LIMIT</th>
        <th  style="width: 100px">CUST. CR LIMIT</th>
        <th  style="width: 100px">GL DR LIMIT</th>
        <th  style="width: 100px">GL CR LIMIT</th>
        <th  style="width: 100px">DATE CREATED</th>
        <th  style="width: 10px">STATUS</th>
      </tr>
    </thead>
    <tbody *ngIf ="rows.length > 0">
  
      <tr *ngFor="let row of rows; let h = index;">
        <td>  {{ h + 1 }}</td>
        <td style="text-align: center;"> 
  
          <span  style="margin-left: 10px" 
           matTooltip="View  {{ row?.roleName }} Details" class="editSpan" 
          (click)="action('Edit', row)">Edit</span> 

          <span  style="margin-left: 10px" 
           matTooltip="View  {{ row?.roleName }} Details" class="viewSpan" 
          (click)="action('View', row)">View</span> 
  
        </td>
        <td> {{ row?.currencyIso  }}</td>
        <td style="text-align: right;"> {{ row?.debitLimit |  number:'.2' }}</td>
        <td style="text-align: right;"> {{ row?.creditLimit |  number:'.2' }}</td>
        <td style="text-align: right;"> {{ row?.glDebitLimit |  number:'.2' }}</td>
        <td style="text-align: right;"> {{ row?.glCreditLimit |  number:'.2' }}</td>
        <td>  {{ row?.dateCreated | date: 'd-MMM-y' }}</td>
        <td>
           <mat-chip mat-sm-chip class="activestatus" 
           [selected]="row.status" *ngIf="row.status == 'Active'">
              {{ row.status }} 
           </mat-chip>
      
         <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row.status !== 'Active'">
          {{ row.status }}
        </mat-chip>
      </td>
        
      </tr>
     
    </tbody>
  </table>
  