<p>
  dashboard-role works!
</p>
 
  <!-- <div class="preloader" *ngIf="loadPage == true">
    <img class = "imgLoader"  src="assets/img/loader/assuredgif.gif"/>
    <br>
    <p>{{retryMessage}}</p> 
  
  </div> -->

  <div class="preloader" *ngIf="loadPage == true">
    <div class="col-sm-2">
       <div id="square5">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
       </div> 
    </div> 
   <p>{{retryMessage}}</p> 
  </div>
  <!-- <div style="margin-left: 20px; background-color: white !important" class="card-title-text">     
  </div> -->
  
  <div class="col-sm-12 row">
    <div class="col-sm-2">
     
    </div>
    <div class="col-sm-4">
      <b> DASHBOARD SETTINGS  </b>
    </div>
  
    <div class="col-sm-1">
      <select style="margin-top: 0px; width: 200px" class="form-control" 
      [(ngModel)] = "pageLmit">
        <option>Item Per Page</option>
        <option *ngFor="let a of ItemsPerPage"
        [value]="a.itemPerPage">{{ a.itemPerPage }}</option>
      </select>
    </div>
  </div>
  <br>
    <div class="displayOnLapTop">
      <table  class="table table-bordered table-sm table-hover tableStyle" 
              style="background-color: white; width: 80%; margin: 0 10% 0 10%">
        <thead>
          <tr>
            <th  style="width: 20px;">S/NO</th>
            <th  style="width: 20px;">ACTION</th>
            <th  style="width: 200px">Name</th>
            <th  style="width: 20px">DATE CREATED</th>
            <th  style="width: 10px">STATUS</th>
          </tr>
        </thead>
        <tbody>
          <!--Search Here-->
          <tr>
            <td> 
              <!-- <input style ="width: 100%"  (keyup)="updateFilter($event, 1)"
              autocomplete="off" class="form-control"
               type="text" placeholder="Search" 
                /> -->
             </td>
              <td> 
                <!-- <input style ="width: 100%"  (keyup)="updateFilter($event, 2)"
                  autocomplete="off" class="form-control"
                   type="text" placeholder="Search" 
                    /> -->
              </td>
              <td> 
                <input style ="width: 100%"  (keyup)="updateFilter($event, 3)"
                autocomplete="off" class="form-control"
                 type="text" placeholder="Search" 
                  />
              </td>
              <td> 
                <!-- <input style ="width: 100%"  (keyup)="updateFilter($event, 9)"
                autocomplete="off" class="form-control"
                 type="text" placeholder="Search" 
                  /> -->
            </td>
                <td> 
                  <!-- <input style ="width: 100%"  (keyup)="updateFilter($event, 10)"
                  autocomplete="off" class="form-control"
                   type="text" placeholder="Search" 
                    /> -->
                 </td>
                 
          </tr>
        <!--Search End Here-->
  
          <tr *ngFor="let row of rows; let h = index;">
            <td style="text-align: left;" class="pageFont">  {{ h + 1 }}</td>
            <td style="text-align: left;"> 
               <span *ngIf="roleAssign.canEdit == true" matTooltip="Assign selected dashboard to {{ row?.roleName }}" 
              (click)="assignDashboard(row)" class="editSpan pageFont">Assign Dashboard</span>
            </td>
            <td class="pageFont"> {{ row?.roleName }}</td>
            <td class="pageFont">  {{ row?.dateCreated | date: 'd-MMM-y' }}</td>
            <td>
                  <mat-chip mat-sm-chip class="activestatus" 
                  [selected]="row.status" *ngIf="row.status == 'Active'">
                      {{ row.status }} 
                  </mat-chip>
                  <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row.status !== 'Active'">
                    {{ row.status }}
                  </mat-chip>
          </td>
          </tr>
        </tbody>
      </table>
   
    </div>
