.mat-chip.info-chip{
    padding: 4px 8px;
    .mat-icon{
        margin-right: 4px;
    }
}

  a {
      //background-image: linear-gradient(#c0c0c0, black, #c0c0c0) !important;
      color: black !important;
  }


  a:hover {
      //background-image: linear-gradient(#c0c0c0, black, #c0c0c0) !important;
      color: black !important;
  }

  