<div class="preloader" *ngIf="loadPage == true">
  <div class="col-sm-2">
    <div id="square5">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
  <p>{{retryMessage}}</p>
</div>

<div style="text-align: center; font-size: larger; background-color: white !important" class="card-title-text"> <b>
    DOCUMENT CHARGE </b>
</div>
<br>

<div class="displayOnLapTop">
  <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-1">
      <button style="margin: 0 0 0 10px;" (click)="action('Add','')" mat-raised-button color="accent"
        class="mat-elevation-z12 box-button" type="submit">Add New</button>
      <mat-spinner *ngIf="statusTrack == 'Decline'" strokeWidth="1" [diameter]="30" color="primary"></mat-spinner>

    </div>
    <div class="col-sm-2"></div>
    <div class="col-sm-2">
      <select style="margin: 5px" class='form-control' [(ngModel)]="pageLmit" (change)='onOptionsSelected($event)'>
        <option class='option' *ngFor='let option of ItemsPerPage' [value]="option.itemPerPage">{{option.itemPerPage}}
        </option>
      </select>
    </div>
  </div>
  <br>
  <table style="background-color: white; width: 1100px; margin: 0 1% 0 1%"
    class="table table-bordered table-sm table-hover tableStyle">
    <thead>
      <tr>
        <th style="width: 20px">S/NO</th>
        <th style="width: 20px">ACTION</th>
        <th style="width: 250px">DESCRIPTION</th>
        <th style="width: 180px">CHARGE AMOUNT</th>
        <th style="width: 10px">DATE CREATED</th>
        <th style="width: 20px">STATUS</th>
      </tr>
    </thead>
    <tbody>
      <!--Search Here-->
      <tr>
        <td></td>
        <td></td>
        <!-- <td> <input style="width: 100%" (keyup)="updateFilter($event, 1)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td> -->
        <td>
          <input style="width: 100%" (keyup)="updateFilter($event, 2)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td> 
          <!-- <input style="width: 100%" (keyup)="updateFilter($event, 3)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" /> -->
        </td>
        <td>
          <input style="width: 100%" (keyup)="updateFilter($event, 4)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" />
        </td>
        <td>
          <!-- <input style="width: 100%" (keyup)="updateFilter($event, 5)" autocomplete="off" class="form-control"
            type="text" placeholder="Search" /> -->
        </td>

      </tr>

      <tr *ngFor="let row of rows; let h = index;">
        <td> {{ h + 1 }}</td>
        <td style="text-align: center;">


          <span *ngIf="roleAssign.canView == true" matTooltip="View  {{ row?.loginId }} Details" class="viewSpan"
            (click)="action('View', row)">View</span>
          <span *ngIf="roleAssign.canEdit == true" matTooltip="Edit  {{ row?.loginId }} Details"
            (click)="action('Edit', row)" class="editSpan">Edit</span>
        </td>
        <!-- <td> {{ getServiceName(row?.serviceId) }}</td> -->
        <td class="pageFont"> {{ row?.description }}</td>
        <td class="pageFont"> {{ row?.chgAmount |  number:'.2' }}</td>
        <td class="pageFont">{{ row?.dateCreated | date: 'd-MMM-y'}}</td>
        <td>
          <mat-chip mat-sm-chip class="activestatus" [selected]="row.status" *ngIf="row.status == 'Active'">
            {{ row?.status }}
          </mat-chip>

          <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row.status !== 'Active'">
            {{ row?.status }}
          </mat-chip>
        </td>
      </tr>

    </tbody>
  </table>

  <div class="row">
    <div class="col-sm-4">
    </div>

    <div class="col-sm-2">

      <div class="btn-group">
        <button mat-raised-button id="btn_prev" color="primary" style="margin-left: 0%" (click)="prevPage()"
          class="mat-elevation-z12 box-button m-3" type="submit">
          <mat-icon >keyboard_arrow_left</mat-icon>Prev.
        </button>
        <button style="margin: 0 0 0 10px;" id="btn_next" mat-raised-button color="accent" class="mat-elevation-z12 box-button m-3"
          (click)="nextPage()" type="submit">Next<mat-icon >keyboard_arrow_right</mat-icon></button>
      </div>

    </div>
    <div class="col-sm-1">

    </div>
    <div class="col-sm-2 m-3" >
      <span style="font-size: 15px; text-align: center !important; 
         font-weight: 900; ">
        Page: </span>
      <span style="font-size: 15px; text-align: center !important; font-weight: 900;" id="page"></span>

    </div>

  </div>
</div>