<div class="preloader" *ngIf="loadPage == true">
    <div class="col-sm-2">
        <div id="square5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


    </div>
</div>

<form [formGroup]="basicForm" [formGroup]="basicForm">

    <div style="border: none solid rgb(177, 160, 160); margin: 10px 10px 5px 15px">

        <div class="card-title-text"> <b style="margin-left: 80px"> {{ActionHeaderMsg}} ACCOUNT TYPE
                {{ActionDisplay}}</b><label class="allFieldRequired">
                <label style="margin-right: 100px" class="allFieldRequiredtxt">{{requiredFieldMsg}}</label></label>
        </div>
        <hr style="width: 1000px; margin-left: 70px !important">
        <div style="border: solid 1px #c0c0c0; padding: 5px; margin-left: 20px; width: 1000px" class="form-group row">

            <label for="input-11" class="col-sm-2 col-form-label">Acct Type</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control" type="text" placeholder="" name="accountTypeCode"
                    formControlName="accountTypeCode" />
            </div>
            <label for="input-11" class="col-sm-1 col-form-label">Description</label>
            <div class="col-sm-4">
                <input autocomplete="off" class="form-control" type="text" placeholder=""
                    formControlName="description" />
            </div>

            <label for="input-11" class="col-sm-2 col-form-label">Delimiter</label>
            <div class="col-sm-1">
                <input autocomplete="off" class="form-control" type="text" placeholder="" name="delimeter"
                    formControlName="delimeter" />
            </div>
            

        </div>
        <div style="border: solid 1px #c0c0c0; padding: 5px; margin-left: 20px; width: 1000px" class="form-group row">
            <label for="input-11" class="col-sm-2 col-form-label">Account Length</label>
            <div class="col-sm-2">
                <input autocomplete="off" class="form-control" type="text" placeholder="" name="acctLenght"
                    formControlName="acctLenght" />
            </div>

            <label for="input-11" class="col-sm-1 col-form-label">AcctFormat</label>
            <div class = "col-sm-4">
                <input autocomplete="off" class="form-control" type="text" placeholder="" 
                name="accountFormat" formControlName="accountFormat"/>
            </div>
            
        </div>

        <div *ngIf="data.actionName !== 'Add'">
            <div class="form-group">
                <div class="col-sm-12 infoAcctdetails" style="width: 1000px; margin-left: 20px">
                    <label class="control-label lbl" style="color:#fff;" for="tagsinput-2">AUDIT TRAIL</label>
                </div>
            </div>
            <div style="border: solid 1px #c0c0c0; padding: 5px; margin-left: 20px; width: 1000px"
                class="form-group row">
                <label style="margin-left: -8px" for="input-11" class="col-sm-2 col-form-label">Date Created</label>
                <div class="col-sm-2">
                    <input style=" width: 150px" autocomplete="off" readonly class="form-control" type="text"
                        placeholder="" formControlName="dateCreatedDetails" />
                </div>

                <label for="input-11" class="col-sm-1 col-form-label">CreatedBy</label>
                <div class="col-sm-4">
                    <input autocomplete="off" [(ngModel)]="createdBy" class="form-control" type="text" placeholder=""
                        formControlName="userDetails" readonly />

                </div>

                <label for="input-11" class="col-sm-1 col-form-label">Status</label>
                <div class="col-sm-1">
                    <select style="width: 120px" 
                    class="form-control" formControlName="status">
                        <option>Select Status</option>
                        <option *ngFor="let a of statuses" 
                        [value]="a.status">{{ a.status }}</option>
                    </select>
                </div>

               

            </div>


        </div>


        <br>
        <div class="form-group row">
            <div class="btn-group" style="margin: 0  50% 0 40%">

                <!-- <button   *ngIf="data.actionName == 'Add'"
    mat-raised-button color="accent" 
    [disabled]="!basicForm.valid">
    <img src="assets/img/loader/loader.gif"/>
    Save</button> -->

                <button id="btnSave" *ngIf="data.actionName == 'Add'" mat-raised-button color="accent"
                    (click)="add(basicForm.value)" [disabled]="!basicForm.valid">
                    <img *ngIf="actionLoaderSave === true" src="assets/img/loader/loader.gif" />
                    Save</button>

                <button id="btnUpdate" *ngIf="data.actionName == 'Edit'" mat-raised-button color="accent"
                    (click)="update(basicForm.value)">
                    <img *ngIf="actionLoaderUpdate === true" src="assets/img/loader/loader.gif" />
                    Update</button>

                <button type="button" style="margin: 0 10px 0 10px;" mat-raised-button color="primary"
                    (click)="close()">Return</button>
                
                <button type="button" mat-raised-button *ngIf="data.actionName == 'Edit'" color="accent" (click)="auditList()"
                    >Audit Trail</button>

                <mat-spinner *ngIf="displayloader == true" strokeWidth="1" [diameter]="30" color="primary">
                </mat-spinner>
            </div>
        </div>

    </div>







</form>