<h2 mat-dialog-title>TERMS & CONDITIONS OF USE OF THE ELECTRONIC UTILITIES PORTAL</h2>
<mat-dialog-content class="mat-typography">

  
  <div>
        By enrolling on the portal, I accept the under listed Terms & Conditions (as may be amended from time to time) and covenant to abide by these terms. 
        <br>
        <b>1.</b>  	I shall dutifully pay for my service Charge at the rates stipulated below or such other rates as may be stipulated by the Residents Association, from time to time, failing which I shall be liable to immediate disconnection from estate amenities in addition to liability to pay for any outstandings:
    <br>
    <b>1.</b>	<b>Metro:</b>  N48,750.00 per annum
    <br>
    <b>2.</b> <b>Terrace:</b>	 N195,000.00 per annum
    <br>
    <b>3.</b> <b>Semi-Detached</b>	 duplex: N215,000.00 per annum.
    <br>
    <b>4.</b>	<b> Private Area:</b> N300,000.00 per annum 
    I shall dutifully pay for the applicable power charges (as at when due) as follows: 
    <br>
    <b>1.</b> <b>	Metro:</b><br>
    o	<b>Base Charge</b>  - N2,500.00 (Partner),  N9,000.00 (Non Partner), and <b>Take or Pay</b>- N8,000.00 per month
    <br>
    <b>2.</b><b>Terrace or Semi-Detached duplex:</b>	
    <br>
    o	<b>Base Charge</b> - N4,000.00 (Partner), N18,000.00 (Non Partner), and <b>Take or Pay</b>- N20,000.00 per month
    <br>
    
    <span style="color: burlywood;">
      <b>3.</b>	I shall dutifully pay for the applicable CUG fee of N500.00 per month or any other applicable amount
    
    </span>
    
   
    
    <br>
    <b>4.</b>	I shall be liable to pay a fine of N250,000.00 (in addition to monthly liability for Base Charge & Take or Pay for the applicable period) for any bypassing of the electricity system or my meter and I shall ensure that no tampering or repairs of my meter is carried out without authorization from the Association as well as the metering company.
    <br>
    <b>5.</b>	To pay my generator levy of N300,000.00.
    <br>

    <span style="color: orangered;">
      <b>6.</b>	To pay my Infrastructural levy of N110,500.00
    </span>
   
    
    
    <br>
    <b>7.</b>	I consent to pay the applicable charges for transactions done on the platform as follows:
    <br>
    <b>1.</b>	1.4% or any other applicable rate of the amount of payment made as transaction fees
    <br>

    <span style="color: orangered;">
      <b>2.</b>	N100.00 convenience fee per cart 
    </span>
    <br>
    <b>7.</b>	In the event of damage to my meter or purchase of a new meter, to pay N90,000.00 or any applicable amount to the Association as cost for a new or replacement meter and allow at least 3 weeks after payment before the deployment of the meter.
    <br>
    <b>8.</b>	In the event that I will be unavailable in the estate for a period longer 
    than a month, to formally notify the 
    <span style="color: orangered;">  Association of my absence in writing (or via email) for purposes </span>
    of discounting my Take or Pay obligations only, whilst I will ensure prompt payment of all other obligations (Service charge, base charge, etc).
    <br>
    <b>9.</b>	Not to engage in any actions calculated at undermining my financial obligations to the Association.
    <br>
    <b>10.</b>	In the event that I want to relocate out of the estate, to ensure immediate settlement of all my financial obligations and where I fail to, I shall remain liable for all outstanding payments.
    <br>
    <b>11.</b>	In the event of any complaint regarding my use of the Utilities Portal such as erroneous token or wrongful debit of my account, to escalate to the representatives of association for resolution.
     For further clarification, please contact the estate office.
     <br> <br>
     I covenant to be bound by and abide with the foregoing Terms of Use of the Estate Utilities Portal.
    
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <!-- <button mat-button mat-dialog-close>OK</button> -->
  <button   mat-raised-button 
  color="primary" class="mat-elevation-z12 box-button" mat-dialog-close>OK</button> 
  <!-- <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Install</button> -->
</mat-dialog-actions>
