
 <div class="preloader" *ngIf="loadPage == true">
  <!-- <div class="col-sm-2">
      <div id="square5">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
      </div> 
  </div> -->

  <img class = "imgLoader"  src="assets/img/loader/assuredgif.gif"/>
  <br>
  <p>{{retryMessage}}</p> 

</div>


<div fxLayout="column">
  <div class="flex-p">
    
    <div style="background-color: white !important" class="flex-p"><div style="margin-left: 20px; background-color: white !important" class="card-title-text"> <b> User Type </b>    
    </div>
            <br>
  
        
        <div  class="row" fxLayout="row" fxLayoutWrap="wrap">
          <div fxFlex="100" fxFlex.gt-xs="5" class="pr-1">
                 
                
  
          </div>
       

          <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">
            
           
                 <div class="btn-group">
                  <button mat-raised-button color="primary" *ngIf="displayloader != true"
                    class="mat-elevation-z12 box-button" type="submit">{{btnActionApprove}}</button> 
                    {{lblProcess}}
                    <mat-progress-bar *ngIf="displayloader === true" mode="indeterminate"></mat-progress-bar>
                    

                                   
                  
                    
                



                    
                    <button style="margin: 0 0 0 10px;" mat-raised-button color="accent" 
                    class="mat-elevation-z12 box-button" type="submit">Decline</button>

                    <button style="margin: 0 0 0 10px; background-color: #840808 !important;" mat-raised-button color="warn" 
                    class="mat-elevation-z12 box-button" type="submit">Deactivate</button>
                  </div> 
  
            </div>
            <div fxFlex="100" fxFlex.gt-xs="33" class="pr-1">

               
              <mat-form-field class="full-width">
                <input matInput name="BankVerificationNumber"
                    placeholder="Search" value="" required>
            </mat-form-field>


            </div>
  </div>

<br>


         
  <!-- <ngx-datatable
  #table
  class="material"
  [headerHeight]="50"
  [limit]="10"
  [columnMode]="'force'"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [rows]="rows"
  [loadingIndicator]="loadingIndicator"
  [selected]="selected"
  [selectionType]="'checkbox'"
  (activate)="onActivate($event)"
  (select)='onSelect($event)'>


 <ngx-datatable-column name="S/No">
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{rows.indexOf(row) + 1}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="first_name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                <span
                  title="Double click to edit"
                  *ngIf="!editing[rowIndex + '-name']">
                  {{value}}
                </span>
                <input
                  autofocus
                  (blur)="updateValue($event, 'name', rowIndex)"
                  *ngIf="editing[rowIndex+ '-name']"
                  type="text"
                  [value]="value"
                />
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="last_name">
              <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-row="row" let-value="value">
                <span
                  title="Double click to edit"
                  *ngIf="!editing[rowIndex + '-last_name']">
                  {{value}}
                </span>
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="last_name">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Status">
              <ng-template ngx-datatable-cell-template let-value="value">
                {{value}}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column name="Actions">
              <ng-template ngx-datatable-cell-template let-value="value">
                
              
                
                 <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="View Details" (click)="displayRecDetails(value)"><mat-icon>remove_red_eye</mat-icon></button> 
                <button mat-icon-button mat-sm-button color="primary" class="mr-1" matTooltip="Edit User" (click)="UpdatedisplayRecDetails(value)"><mat-icon  color="accent">edit</mat-icon></button> 
               
              
              </ng-template>
            </ngx-datatable-column>


-->



<!-- <table  class="display" style="width:100%; color: black" #dataTable>
  <thead style="color: black">
      <tr>
          <th>S/No</th>
          <th>Full Name</th>
          <th>Email Address</th>
          <th>Phone Number</th>
          <th>Meter Number</th>
          <th>Status</th>
          <th>Date Created</th>
      </tr>
  </thead>
  <tbody>




      <tr *ngFor="let a of addedworkflowList; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{a.first_name}} {{a.last_name}}</td>
          <td>{{a.email}}</td>
          <td>{{a.phone_number}}</td>
          <td>{{a.meter_number}}</td>
          <td>{{a.status}}</td>
          <td>{{a.created_at}}</td>
      </tr>
      
  </tbody>

</table> -->
      

<ngx-datatable
class="material ml-0 mr-0"
[rows]="rows"
[columns]="columns"
[columnMode]="'force'"
[headerHeight]="50"
[footerHeight]="50"
[limit]="100"
[rowHeight]="'auto'">
  <ngx-datatable-column name="S/No" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
  {{rows.indexOf(row) + 1}}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Select" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <mat-checkbox color="primary" class="example-margin" 
     (change)="select(row)"></mat-checkbox>
    
    <!-- <button  mat-icon-button mat-sm-button  class="mr-1" (click)="assignWorkflow(row)" matTooltip="Assign Workflow"><mat-icon class="">filter</mat-icon></button> -->
    <!-- <button  mat-icon-button mat-sm-button  class="mr-1" (click)="assignSubVisaCard(row)" matTooltip="Assign Sub Visa Cards"><mat-icon class="">library_add</mat-icon></button>
    <button  mat-icon-button mat-sm-button  class="mr-1" (click)="getRecord(row, updatestwitch)" matTooltip="Edit Card Product" ><mat-icon class="">edit</mat-icon></button>
    <button x`x`  mat-icon-button mat-sm-button color="warn"  (click)="deleteRecDetails(row)"  matTooltip="Delete Card Product"><mat-icon>delete</mat-icon></button>        
  -->
 
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Full Name" [flexGrow]="2">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.first_name }} {{ row?.last_name }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Phone Number" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.phone_number }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Email Address" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.email }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Meter Number" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.meter_number }}
  </ng-template>
</ngx-datatable-column>
 <ngx-datatable-column name="Date Created" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    {{ row?.created_at | date: 'd-MMM-y' }}
  </ng-template>
</ngx-datatable-column>
<ngx-datatable-column name="Status" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    <mat-chip mat-sm-chip class="activestatus" [selected]="row.status" *ngIf="row.status == 'Active'">
      {{ row.status }}
    </mat-chip>
    <!-- <mat-chip mat-sm-chip class="Pendingstatus" [selected]="row.status" *ngIf="row.status == 'Pending'">
      {{ row.status }}
    </mat-chip>   -->
     <mat-chip mat-sm-chip class="inactivestatus" *ngIf="row.status !== 'Active'">
      {{ row.status }}
    </mat-chip>
  </ng-template>
</ngx-datatable-column>
<!-- <ngx-datatable-column name="Actions" [flexGrow]="1">
  <ng-template let-row="row" ngx-datatable-cell-template>
    
    
    <button *ngIf="permission.canEdit" mat-icon-button mat-sm-button  class="mr-1" (click)="assignWorkflow(row)" matTooltip="Assign Workflow"><mat-icon class="">filter</mat-icon></button>
    <button *ngIf="permission.canEdit" mat-icon-button mat-sm-button  class="mr-1" (click)="assignSubVisaCard(row)" matTooltip="Assign Sub Visa Cards"><mat-icon class="">library_add</mat-icon></button>
    <button *ngIf="permission.canEdit" mat-icon-button mat-sm-button  class="mr-1" (click)="getRecord(row, updatestwitch)" matTooltip="Edit Card Product" ><mat-icon class="">edit</mat-icon></button>
    <button *ngIf="permission.canDelete"  mat-icon-button mat-sm-button color="warn"  (click)="deleteRecDetails(row)"  matTooltip="Delete Card Product"><mat-icon>delete</mat-icon></button>        
 
 
  </ng-template>
</ngx-datatable-column> -->
</ngx-datatable>
        
    </div>
  
  </div>


</div>
