<div class="preloader" *ngIf="loadPage == true">
    <div class="col-sm-2">
        <div id="square5">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>


    </div>
</div>

<form [formGroup]="basicForm">

    <div style="border: none solid black;">

        <div class="card-title-text"> <b> CURRENCY DETAILS</b><label class="allFieldRequired"> <label
                    class="allFieldRequiredtxt">{{requiredFieldMsg}}</label></label></div>
        <hr>
        <div style="border: 1px solid rgb(177, 160, 160); padding: 10px;">

            <div class="form-group row">

                <label for="input-11" class="col-sm-2 col-form-label">Currency Code</label>
                <div class="col-sm-3">
                    <!-- <input autocomplete="off" class="form-control" type="text" placeholder="" name="currencyCode"
                        formControlName="isoCode" /> -->
                        <select class="form-control" formControlName="countryCode2" (change)="selectedCurrency(basicForm.value.countryCode2)">
                            <option *ngIf="currencyValue == ''" value=''>Select Currency</option>
                            <option 
                                *ngFor="let currency of listCurrencies" [selected]="currency.countryCode2 === currencyValue"
                                [value]="currency.countryCode2">{{ currency.ccyCode  }} - {{ currency.currencyName }} ( {{ currency.countryName }} )</option>
                        </select>
                </div>

                <label for="input-11" class="col-sm-2 col-form-label">Currency No</label>
                <div class="col-sm-1">
                    <input autocomplete="off" class="form-control" type="text" placeholder="" name="currencyNo"
                        formControlName="currencyNo" />
                </div>


                <label for="input-11" class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-2">
                    <input autocomplete="off" class="form-control" type="text" placeholder="" name="description"
                        formControlName="description" />
                </div>

            </div>

            <div class="form-group row">
                <label for="input-11" class="col-sm-2 col-form-label">Is Local Currency?</label>
                <div class="col-sm-3">
                    <mat-checkbox color="primary" name="IsLocalCurrency" formControlName="isLocalCurrency"
                        class="example-margin" (change)="check()"></mat-checkbox>

                </div>

                <label for="input-11" class="col-sm-2 col-form-label">No of Decimal</label>
                <div class="col-sm-1">
                    <input autocomplete="off" 
                    class="form-control" type="text" 
                    placeholder="" maxlength = "2"

                        formControlName="numberOfDecimal" (keypress)="keyPress($event)" />
                </div>

                <label for="input-11" class="col-sm-2 col-form-label">Weight</label>
                <div class="col-sm-2">
                    <input autocomplete="off" class="form-control" type="text" placeholder="" name="weight"
                        formControlName="weight" (keypress)="keyPress($event)" />
                </div>

            </div>
            <div style="display: none;">
                <label for="input-11" class="col-sm-2 col-form-label">IsoCode</label>
                <div class="col-sm-1">
                    <input autocomplete="off" class="form-control" type="text" placeholder="" name="isoCode"
                        formControlName="isoCode" />
                </div>
            </div>

        </div>

        <div *ngIf="data.actionName !== 'Add'" style="padding-top: 3px;">

            <div class="form-group">
                <div class="col-sm-12 infoAcctdetails" style="background-color:#444;color:#fff; text-align:center;">
                    <label class="control-label lbl" style="color:#fff;" for="tagsinput-2">AUDIT TRAIL</label>
                </div>
            </div>
            <div style="border: 1px solid rgb(177, 160, 160); padding: 10px;">
                <div class="form-group row">

                    <label for="input-11" class="col-sm-2 col-form-label">Created By</label>
                    <div class="col-sm-2">
                        <input [(ngModel)]="createdBy" autocomplete="off" class="form-control" type="text"
                            placeholder="" formControlName="createdBy"  disabled/>

                    </div>
                    <label for="input-11" class="col-sm-1 col-form-label">Date Created</label>
                    <div class="col-sm-2">
                        <input autocomplete="off" class="form-control" type="text" placeholder="" name="dateCreated"
                            formControlName="dateCreated" disabled/>
                    </div>
                    <label for="input-11" class="col-sm-1 col-form-label">Status</label>
                    <div class="col-sm-2">
                        <select class="form-control" 
                        formControlName="status">
                            <option *ngFor="let a of this._GeneralService.Statuses" [value]="a.status">{{a.status}}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-1">
                        <button type="button" mat-raised-button color="primary" (click)="auditList()"
                        >Audit Trail</button>
                    </div>

                </div>
            </div>
        </div>
        <hr>

        <br>
        <div class="form-group row">
            <div class="btn-group" style="margin: 0  50% 0 40%">

                <button id="btnSave" *ngIf="data.actionName == 'Add'" mat-raised-button color="accent"
                    (click)="add(basicForm.value)" [disabled]="!basicForm.valid">
                    <img *ngIf="actionLoaderSave === true" src="assets/img/loader/loader.gif" />
                    Save</button>

                <button id="btnUpdate" *ngIf="data.actionName == 'Edit'" mat-raised-button color="accent"
                    (click)="update(basicForm.value)">
                    <img *ngIf="actionLoaderUpdate === true" src="assets/img/loader/loader.gif" />
                    Update</button>

                <button type="button" style="margin: 0 0 0 10px;" mat-raised-button color="primary"
                    (click)="close()">Return</button>

                <mat-spinner *ngIf="displayloader == true" strokeWidth="1" [diameter]="30" color="primary">
                </mat-spinner>
            </div>
        </div>

    </div>
</form>