 
  <!-- <div class="preloader" *ngIf="loadPage == true">
    <img class = "imgLoader"  src="assets/img/loader/assuredgif.gif"/>
    <br>
    <p>{{retryMessage}}</p> 
  
  </div> -->

  <div class="preloader" *ngIf="loadPage == true">
    <div class="col-sm-2">
       <div id="square5">
           <span></span>
           <span></span>
           <span></span>
           <span></span>
       </div> 
   </div> 
   <p>{{retryMessage}}</p> 
  </div>




  <div style="text-align: center; background-color: white !important" 
  class="card-title-text"> <b> LICENSE HISTORY   </b>    
  </div>
  <br>

  <br>
  <div style="display: none;"  class="col-sm-12 row">
  
    <div class="col-sm-3">
      <select class="form-control"  [(ngModel)] = "pageLmit">
        <option>Item Per Page</option>
        <option *ngFor="let a of ItemsPerPage"
        [value]="a.itemPerPage">{{ a.itemPerPage }}</option>
      </select>
    </div>
    <div class="col-sm-3">
      

      <select class="form-control"  [(ngModel)] = "columnId">
        <option>Search By</option>
        <option *ngFor="let a of searchUserColumns"
        [value]="a.id">{{ a.columnName }}</option>
      </select>


    </div>
    <div class="col-sm-6">
      <!-- <mat-form-field class="full-width">
        <input matInput
        (keyup)="updateFilter($event)"
            placeholder="Search" value="" required>
    </mat-form-field> -->
    
    <input  (keyup)="updateFilter($event,'')"
             autocomplete="off" class="form-control"
              type="text" placeholder="Search" 
               />
    </div>
  </div>

  <div class="col-sm-12 row" style="position: relative; left: 50px;">

    <div class="col-sm-1">
      <button style="margin: 0 0 0 10px;" (click)="action('Add','')"  mat-raised-button color="accent" 
      class="mat-elevation-z12 box-button" type="submit">Add New</button>
      <mat-spinner *ngIf ="statusTrack == 'Decline'"  strokeWidth="1" [diameter]="30" color="primary"></mat-spinner>
     
    </div>

  </div>
  <br>
    <div class="displayOnLapTop">
      <ngx-datatable style="width: 950px; margin: 0  20% 0 3% !important"
        class="material ml-0 mr-0"
        [rows]="rows"
        [columns]="columns"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [limit]="pageLmit"
        [rowHeight]="'auto'">
        <ngx-datatable-column name="S/NO" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
          {{rows.indexOf(row) + 1}}
          </ng-template>
        </ngx-datatable-column>    
        <ngx-datatable-column name="START DATE" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.startDate | date: 'd-MMM-y' }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="END DATE" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.endDate | date: 'd-MMM-y'  }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="APPLIED BY" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.userId }}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="DATE CREATED" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{ row?.dateCreated | date: 'd-MMM-y' }}
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </div>
