
  <!-- : [null, Validators.compose([Validators.required])],
  branchCode: [null, Validators.compose([Validators.required])],
  branchName: [null, Validators.compose([Validators.required])],
  branchNo: [null, Validators.compose([Validators.required])],
  branchPreffix: [null, Validators.compose([Validators.required])],
  isHeadOffice: [null, Validators.compose([Validators.required])],
  : [null, Validators.compose([Validators.required])],
  userId : 0, -->



<div class="preloader" *ngIf="loadPage == true">
  <div class="col-sm-2">
     <div id="square5">
         <span></span>
         <span></span>
         <span></span>
         <span></span>
     </div> 
 </div> 
</div>

<form [formGroup]="basicForm" [formGroup]="basicForm">

<div style="border: none solid black;">

    <div class="card-title-text"> <b> {{ActionHeaderMsg}} BRANCH {{ ActionDisplay }}</b><label class="allFieldRequired"> <label class="allFieldRequiredtxt">{{requiredFieldMsg}}</label></label></div>
    <hr>
<div style="border: 1px solid rgb(177, 160, 160); padding: 10px;">
 <div class = "form-group row">
   
  <label for="input-11" class="col-sm-1 col-form-label">BRANCH NO.</label>
  <div class = "col-sm-2">
      <input autocomplete="off" class="form-control" type="text" placeholder="" 
      formControlName="branchNo"  (keypress)="keyPress($event)"/>
  </div>
     <label for="input-11" class="col-sm-1 col-form-label">BRANCH CODE</label>
     <div class = "col-sm-2">
         <input autocomplete="off" class="form-control" type="text" placeholder="" name="branchCode" 
         formControlName="branchCode"  (keypress)="keyPress($event)"/>
     </div>
     <label for="input-11" class="col-sm-1 col-form-label">BRANCH NAME</label>
     <div class = "col-sm-5">
         <input autocomplete="off" 
         class="form-control" type="text" placeholder=""
          name="branchName" formControlName="branchName" />
     
     </div>
 </div>
 <div class = "form-group row">
  <label for="input-11" class="col-sm-1 col-form-label">PREFIX</label>
  <div class = "col-sm-2">
      <input autocomplete="off" class="form-control" type="text" placeholder="" 
      formControlName="branchPreffix" />
  </div>
     <label for="input-11" class="col-sm-1 col-form-label">SUFFIX</label>
     <div class = "col-sm-2">
         <input autocomplete="off" class="form-control" type="text" placeholder="" 
         formControlName="branchSuffix"  />
     </div>
     <label for="input-11" class="col-sm-1 col-form-label">Tel. No.</label>
     <div class = "col-sm-2">
         <input autocomplete="off" class="form-control" type="text" 
         placeholder="" name="telePhone" 
         formControlName="telePhone" />
         
     </div>
     <label for="input-11" class="col-sm-1 col-form-label">Is Head Office?</label>
     <div class = "col-sm-2">
      <mat-checkbox color="primary"  formControlName="isHeadOffice"  class="example-margin"></mat-checkbox>
     
     </div>
 </div>
 <div class = "form-group row">
  <label for="input-11" class="col-sm-1 col-form-label">ADDRESS</label>
  <div class = "col-sm-5">
      <input autocomplete="off" class="form-control" type="text" 
      placeholder="" name="branchAddress" 
      formControlName="branchAddress" />
  </div>

  <label for="input-11" class="col-sm-1 col-form-label">Alt Tel. No.</label>
  <div class = "col-sm-2">
      <input autocomplete="off" class="form-control" type="text" 
      placeholder=""
      formControlName="altTelephone" />
      
  </div>
 </div>
</div>


 <div *ngIf ="data.actionName !== 'Add'" style="padding-top: 3px;">

    <div class="form-group">
        <div class="col-sm-12 infoAcctdetails" style="background-color:#444;color:#fff; text-align:center;">
            <label class="control-label lbl" style="color:#fff;" for="tagsinput-2">AUDIT TRAIL</label>
        </div>
     </div>
     <div style="border: 1px solid rgb(177, 160, 160); padding: 10px;">
     <div class = "form-group row">
         
        <label for="input-11" class="col-sm-1 col-form-label">Created By</label>
        <div class = "col-sm-2">
            <input autocomplete="off" [(ngModel)] = "createdBy" class="form-control" 
            type="text" placeholder="" name="webServiceUrl" 
            formControlName="createdBy" readonly/>
        
        </div>
    
        <label for="input-11" class="col-sm-1 col-form-label">Date Created</label>
        <div class = "col-sm-2">
            <input autocomplete="off" 
            class="form-control" type="text" placeholder="" 
            name="dateCreated" formControlName="dateCreated" readonly/>
        </div>
         <label for="input-11" class="col-sm-1 col-form-label">Status</label>
         <div class = "col-sm-2">

            <select class="form-control"  formControlName="status">
                <option>Select Status</option>
                <option *ngFor="let a of statuses"
                [value]="a.status">{{ a.status }}</option>
              </select>
             
         </div>
         <div class="col-sm-1">
            <button type="button" mat-raised-button color="primary" (click)="auditList()"
            >Audit Trail</button>
          </div>

    
     </div>
    </div>
 </div>
 <hr>

 <br>
<div class = "form-group row"> 
 <div class = "btn-group" style="margin: 0  50% 0 40%">
    <button id="btnSave"   *ngIf="data.actionName == 'Add'"
    mat-raised-button color="accent"  (click)="add(basicForm.value)"
    [disabled]="!basicForm.valid">
    <img *ngIf = "actionLoaderSave === true" src="assets/img/loader/loader.gif"/>
    Save</button>
         
     <button id="btnUpdate"   *ngIf="data.actionName == 'Edit'" 
     mat-raised-button color="accent" (click)="update(basicForm.value)"
     >
     <img *ngIf = "actionLoaderUpdate === true" src="assets/img/loader/loader.gif"/>
     Update</button>

     <button type="button" style="margin: 0 0 0 10px;" 
     mat-raised-button color="primary" 
     (click)="close()">Return</button>
            
     <mat-spinner *ngIf ="displayloader == true" 
     strokeWidth="1" [diameter]="30" color="primary"></mat-spinner> 
     </div>
 </div>
</div>
</form>